@using System.Drawing
@model List<CodeEditor>

<div class="container-fluid">
    <main>
        <div class="row">
            <div class="col-12">
                <h1 class="titre">Éditeurs de code</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="IDE">
                @{
                    foreach (var editor in Model)
                    {
                        {
                            var color = editor.PersonalRating switch
                            {
                                3 or 2 or 1 or 0 => "red",
                                7 or 6 or 5 or 4 => "orange",
                                10 or 9 or 8 => "green",
                                _ => ""
                                };
                            <div class="card 🤓">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-2">
                                                <img
                                                    src="/images/@(editor.Id).svg"
                                                    class="img-fluid"
                                                    alt="image de l'IDE"/>
                                            </div>

                                            <div class="col-10">
                                                <a href="/editors/@editor.Id">
                                                    <h2>@editor.Name</h2></a>
                                                <h4>Category: @editor.EditorCategory.ToString()</h4>
                                                <h4>Personal Rating:
                                                    <strong style="color: @color">@editor.PersonalRating / 10</strong>
                                                </h4>
                                                <p>@editor.Description</p>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <a href="/editors/addfavorite/@editor.Id">
                                                <img
                                                    src="/images/@(editor.Favorite ? "star-filled.png" : "star-clear.png")"
                                                    class="img-fluid fav"
                                                    alt="étoile favorie"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                </div>
            </div>
    </main>
</div>