@model SearchResults
<main>
        <div class="row">
            <div class="col-6">
                <div class="d-flex">
                    <div class="custom-form-group">
                        @using (Html.BeginForm("Query", "Editors", FormMethod.Post))
                        {
                            <!--<form accept-charset="UTF-8" action="/search/query" method="post">-->
                            <div class="row">
                                <div class="col">
                                    <label for="Keywords">Search</label>
                                    <!--
                                    J'ai mis la recherche fonctionnelle mais j'ai laisser les champs originaux en commentaire
                                    -->
                                    <!--<input type="text" id="Keywords" name="Keywords" value="@Model.Criteria.Keywords" class="form-control me-2 custom-form-control"/>-->
                                    @Html.TextBoxFor(s => s.Criteria.Keywords,
                                        new
                                        {
                                            @class = "form-control me-2 custom-form-control",
                                            id = "Keywords"
                                        })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        @Html.CheckBoxFor(s => s.Criteria.IsTextEditor,
                                            new
                                            {
                                                @class = "form-check-input",
                                                id = "isTextEditor"
                                            })
                                        <!--<input type="checkbox" name="IsTextEditor" class="form-check-input" id="isTextEditor"/>-->
                                        <label class="form-check-label" for="isTextEditor">
                                            Text Editor
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        @Html.CheckBoxFor(s => s.Criteria.IsIDE,
                                            new
                                            {
                                                @class = "form-check-input",
                                                id = "isIDE"
                                            })
                                        <!--<input type="checkbox" name="IsIDE" class="form-check-input" id="isIDE"/>-->
                                        <label class="form-check-label" for="isIDE">
                                            IDE
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        @Html.CheckBoxFor(s => s.Criteria.IsCommandLine,
                                            new
                                            {
                                                @class = "form-check-input",
                                                id = "isCommandLine"
                                            })
                                        <!--<input type="checkbox" name="IsCommandLine" class="form-check-input" id="isCommandLine"/>-->
                                        <label class="form-check-label" for="isCommandLine">
                                            Command Line
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="MinRating">Minimum Personal Rating</label>
                                    <input type="number" id="MinRating" name="MinimumRating" class="form-control me-2 custom-form-control" placeholder="0"/>
                                </div>
                                <div class="col-6">
                                    <label for="MaxRating">Maximum Personal Rating</label>
                                    <input type="number" id="MaxRating" name="MaximumRating" class="form-control me-2 custom-form-control" placeholder="10"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                            <!--</form>-->
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="titre">@(Model.Editors.Count) Résultats</h1>
            </div>
            <div class="col-12" id="searchResults">
                @{
                    if (Model.Editors.Count == 0)
                    {
                        <div class="card 🤓">
                            <div class="card-body align-content-center">
                                <div class="row">
                                    <div class="col">
                                        <img
                                            src="https://http.cat/444.jpg"
                                            class="img-fluid"
                                            alt="chat"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var editor in Model.Editors)
                        {
                            {
                                var color = editor.PersonalRating switch
                                {
                                    3 or 2 or 1 or 0 => "red",
                                    7 or 6 or 5 or 4 => "orange",
                                    10 or 9 or 8 => "green",
                                    _ => ""
                                    };
                                <div class="card 🤓">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-2">
                                                    <img
                                                        src="/images/@(editor.Id).svg"
                                                        class="img-fluid"
                                                        alt="image de l'éditeur"/>
                                                </div>

                                                <div class="col-10">
                                                    <a href="/editors/@editor.Id">
                                                        <h2>@editor.Name</h2></a>
                                                    <h4>Category: @editor.EditorCategory.ToString()</h4>
                                                    <h4>Personal Rating: <strong style="color: @color;">@(editor.PersonalRating) / 10</strong></h4>
                                                    <p>@editor.Description</p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <img
                                                    src="/images/@(editor.Favorite ? "star-filled.png" : "star-clear.png")"
                                                    class="img-fluid fav"
                                                    alt="étoile favorie"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </main>